{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}
{% endblock %}
    <main role="main">
        <div class="titu-mein">
            <h3 class='h2 medium text-blue'>Editar Usuario</h3>
        </div>  
        <div class="col-md-11 cont-form">
                <form action="" method="post" >
                    {% csrf_token %}
                    <input type="hidden" value="{{ user_data.id }}" name="user_id" id="user_id">
                    <input type="hidden" value="{{ groups.id }}" name="grupo" id="grupo">
                    <div class="col-12 col-sm-8 mb-3 casilla1">
                        <label for="rut" class="custom-label">Rut: </label>
                    </div>
                    <div class="col-12 col-sm-8 mb-3 dato1">
                        <input type="text" name="rut" id="id_rut"  value="{{user_data.username}}" class="form-control border custom-input" readonly/>
                    </div>
                    <div class="row col-md-11 casilla2">
                        <label for="name" class="custom-label">Nombre: </label>
                    </div>
                    <div class="row col-md-11 dato2">
                        <input type="text"  id="name" name="name" value="{{user_data.first_name}}" class="form-control border custom-input" required/>
                    </div>
                    <div class="row col-md-11 casilla3">
                        <label for="last_name" class="custom-label">Apellidos: </label>
                    </div>
                    <div class="row col-md-11 dato3">
                        <input type="text" id="last_name1" name="last_name1" value="{{user_data.last_name}}" class="form-control border custom-input" required/>  
                    </div>
                    <div class="row col-md-11 casilla5">
                        <label for="email" class="custom-label">Correo: </label>
                    </div>
                    <div class="row col-md-11 dato5">
                        <input type="email" id="email" name="email" value="{{user_data.email}}" class="form-control border custom-input"  required/>
                    </div>
                    <div class="col-12 col-sm-4 mb-3 casilla6">
                        <label for="grupo" class="custom-label">Perfil: </label>
                    </div>
                    <div class="col-12 col-sm-4 mb-3 dato6">
                        <select name="group" id="group" class="form-control border custom-input" required>
                            <option value="">Seleccione un perfil</option>
                            {% for p in profile_list %}
                                <option value="{{p.id}}" {% if p.id == groups.id %} selected {% endif %}>{{p.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="botones-5-crear">
                        <input type="submit" value="Guardar Cambios" class="button button--gray form-control custom-button-editar" title="Guardar Cambios de Usuario">
                    </div> 
                </form>
            </div>
        </div>
        <div class="botones-4-crear">
            <a href="{% url 'list_user_active2' %}" class="button button--gray_volver form-control custom-button_ver" title="Volver a Lista">Volver</a>
        </div>
    </main>
{% endblock %}
