{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Función para mostrar la alerta cuando se envía el formulario
    function mostrarAlerta() {

    }
</script>
{% endblock %}

<div class="flex__action flex__action__title">
    <h2 class='flex__action h2 medium text-blue'>Crear Usuario</h2>
</div>

<form class="flex__form" action="" method="post" onsubmit="mostrarAlerta()">
    {% csrf_token %}
    <div class="flex__form__input">
        <label for="rut" class="flex__form__label">Rut: </label>
        <input type="text" name="rut" required oninput="checkRut(this)" autofocus maxlength="254" required id="id_rut"
            class="form-control border custom-input" placeholder="Rut (Ej: 17605812-2)" />
    </div>

    <div class="flex__form__input">
        <label for="name" class="flex__form__label">Nombre: </label>
        <input type="text" class="form-control border custom-input" id="name" name="name" autofocus maxlength="254"
            required placeholder="Alonso" />
    </div>

    <div class="flex__form__input">
        <label for="last_name" class="flex__form__label">Apellidos: </label>
        <input type="text" class="form-control border custom-input" id="last_name1" name="last_name1" required
            placeholder="Rojas" />
    </div>

    <div class="flex__form__input">
        <label for="email" class="flex__form__label">Correo: </label>
        <input type="email" class="form-control border custom-input" placeholder="nombre@autonoma.cl" name="email" />
    </div>

    <div class="flex__form__input">
        <label for="grupo" class="flex__form__label">Perfil: </label>
        <select name="grupo" id="grupo" class="form-control border custom-input" required>
            <option value="">----------</option>
            {% for g in groups %}
            <option value="{{g.id}}">{{g.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="flex__form__input flex__form__button">
        <input type="submit" value="Crear Usuario" class="button--white custom-button"
            title="Crear Nuevo Usuario" style="cursor: pointer;">
        <a href="{% url 'list_user_active2' %}" class="button--white custom-button"
            title="Volver a Lista" style="cursor: pointer;">Volver</a>
    </div>
</form>
</div>




{% endblock %}