{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}
{% endblock %}

<div class="titu-mein cont-form-carac-crear">
    <body>
        <h1>{% if prueba %}Editar{% else %}Crear{% endif %} Prueba</h1>
        <div class="mover">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="prueba_name">Nombre de la Prueba:</label>
                    <input type="text" id="prueba_name" name="prueba_name" value="{{ prueba.prueba_name|default_if_none:'' }}" required>
                </div>

                <div class="form-group">
                    <label for="tipo">Tipo de Prueba:</label>
                    <input type="text" id="tipo" name="tipo" value="{{ prueba.tipo|default_if_none:'' }}" required>
                </div>

                <div class="form-group">
                    <label for="grafico">Gráfico (Opcional):</label>
                    <input type="file" id="grafico" name="grafico">
                </div>

                <div class="form-group">
                    <label for="prueba_state">Estado:</label>
                    <select id="prueba_state" name="prueba_state" required>
                        <option value="t" {% if prueba.prueba_state == 't' %}selected{% endif %}>Activo</option>
                        <option value="f" {% if prueba.prueba_state == 'f' %}selected{% endif %}>Inactivo</option>
                    </select>
                </div>

                <button class="button button--gray form-control custom-button-crear" type="submit">
                    {% if prueba %}Actualizar{% else %}Crear{% endif %}
                </button>
                <a class="button button--gray_volver form-control custom-button-volver" href="{% url 'listar_pruebas' %}">Volver</a>
            </form>
        </div>

        <!-- Pop-up para el error de nombre duplicado -->
        {% if error_message %}
        <div class="popup">
            <div class="popup-content">
                <span class="popup-close">&times;</span>
                <p>{{ error_message }}</p>
            </div>
        </div>
        <script>
            document.querySelector('.popup-close').addEventListener('click', function() {
                document.querySelector('.popup').style.display = 'none';
            });
        </script>
        {% endif %}
    </body>
</div>
{% endblock %}
