{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}

<main role="main">
    <div class="container">
        <h2>Detalle de Prueba</h2>
        
        <!-- Contenedor de Perfil de Parámetros -->
        <div class="perfil-parametro-container">
            <h3>Perfil de Parámetro</h3>
            <ul>
                <li><strong>Nombre del Perfil:</strong> {{ perfil_parametro.perfil_parametro_name }}</li>
                <li><strong>Intervalo Simétrico (A):</strong> {{ perfil_parametro.intervalo_simetrico }} A</li>
                <li><strong>Intervalo de Corriente (A):</strong> {{ perfil_parametro.intervalo_corriente }} A</li>
                <li><strong>Tiempo entre Mediciones (s):</strong> {{ perfil_parametro.delay }} s</li>
            </ul>
        </div>
        
        <!-- Contenedor de Datos de Medición -->
        <div class="medicion-container">
            <h3>Datos de las Mediciones</h3>
            {% if mediciones %}
                <ul>
                    {% for medicion in mediciones %}
                        <li>
                            <strong>Medición {{ forloop.counter }}:</strong>
                            <ul>
                                <li><strong>Voltaje:</strong> {{ medicion.voltaje }} V</li>
                                <li><strong>Corriente:</strong> {{ medicion.corriente }} A</li>
                                <li><strong>Resistencia:</strong> {{ medicion.resistencia }} Ω</li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No hay datos de medición disponibles para esta prueba.</p>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}
