{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}
{% endblock %}
<div class="titu-mein">
    <h1 class='h2 medium text-blue'>Perfiles de Parámetros</h1>
    <!-- Botón para crear un nuevo perfil -->
    <header class='mb-5'>
        <div class="botones-2-carac">
            <a href="{% url 'listar_perfiles' %}" style="padding: 20px;" class="button button--gray-carac form-control custom-button-carac" title="Agregar Usuarios">Volver</a>
        </div>

    </header>
    <!-- Tabla de perfiles de parámetros -->
    <div class="col-md-11 cont-table-carac" >
            <table class="table table-user cont-form-carac">
                <thead>
                    <tr>
                        <th>Nombre Perfil</th>
                        <th>Intervalo Simétrico</th>
                        <th>Intervalo Corriente</th>
                        <th>Delay</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for perfil in perfiles_bloqueados %}
                    <tr>
                        <td>{{ perfil.perfil_parametro_name }}</td>
                        <td>{{ perfil.intervalo_simetrico }}</td>
                        <td>{{ perfil.intervalo_corriente }}</td>
                        <td>{{ perfil.delay }}</td>
                        <td>{{ perfil.perfil_parametro_state }}</td>
                        <td>
                            <a href="{% url 'eliminar_perfil_bloqueado' perfil.id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar este perfil?');" style="color: white;"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>
{% endblock %}
