{% extends 'core/base_login.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<style>
    .errorlist {
        color: red;
    }
</style>
<div style ="height: 200px;">
    <div class="mb-3" style="background-color: #6E30E8; height: 65px; display: flex; align-items: center;">
        <div style="border-radius: 20px; overflow: hidden; display: inline-block;">
            <img src="{% static 'assets/img/logo.jpg' %}" class="img" width="75" height="65">
        </div>
        <span style="color: rgb(255, 255, 255); font-size: 30px;">Computech</span>
    </div>


    <div style="display: flex;">
        <div class="mb-3" style="background-color: #270F57; width: 40%; height: 100vh;">
            <img src="{% static 'assets/img/logo.jpg' %}" class="img" width=100% height="100%">

        </div>
        <div style="margin-left: 100px;margin-right: 10px; height: 100px; margin-top: 250px;">
            <section>
                {% if 'register' in request.GET %}
                <p style="color: green">Usuario registrado correctamente</p>
                {% endif%}
                <form action="" method="post">
                    {% csrf_token %}
                    <h4 style="font-size: 64px;" class="mb-3 text-blue text-center">Acceso</h4>
                    <div class="mb-3" style="background-color: #270F57; height: 10px;">

                    </div>
                    {% if form.non_field_errors %}
                    <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
                    {% endif %}
                    <div style="margin-top: 35px" ;class="mb-3">
                        <label style="font-size: 32px;margin-top: 250px;" for="user" class="form-label">Rut*</label><br>
                        <input style="font-size: 32px;" type="text" name="username" class="form-control" />
                        <span class="feedback body-small text-regular"></span>
                    </div>

                    <div class="mb-3">
                        <label style="font-size: 32px; " for="password" class="form-label">Contraseña*</label><br>
                        <input style="font-size: 32px; " type="password" name="password" class="form-control"
                            id="password" />
                        <span class="feedback body-small text-regular"></span>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button style="background-color: #6E30E8;margin-top: 10px;width: 390px; border-radius:0px" ;
                            type=submit class="button">
                            <span style="color: rgb(255, 255, 255)" ;>ACCESO</span>
                        </button>
                    </div>
                    <a href="{% url 'password_reset' %}" style="color:#6E30E8;">¿Se te olvidó tu contraseña?</a>
                </form>
            </section>
        </div>
    </div>
</div>
{%endblock%}