{% load static %}
{% block title %}
{% block content %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/styles2.css' %}" rel="stylesheet">

{% endblock %}
<main role="main">
    <div class="titu-mein">
        <h3 class='h2 medium text-blue'>Restablecer Contraseña</h3>
    </div>
    <div class="cont-form-password">
        <form action="" method="post">
            {% csrf_token %}
            <div class=" titu-2">
                <label for="rut" class="custom-label">¿Ha olvidado su clave? </label>
            </div>
            <div class=" titu-3">
                <label for="grupo" class="custom-label">Introduzca su dirección de correo: </label>
            </div>
            <div class=" titu-5">
                <label for="grupo" class="custom-label">Le enviaremos por correo electrónico las instrucciones para
                    establecer una nueva contraseña.</label>
            </div>
            {{ form.email.errors }}
            <div class="row col-md-11 titu-4">
                <input type="email" name="email" maxlength="254" required="" id="id_email"
                    class="form-control border custom-input" placeholder="Ejemplo: Nombre@autonoma.cl" />
            </div>
            <div class="botones-5">
                <input type="submit" class="button button--gray form-control custom-button" value="Confirmar">
            </div>
            <div class="botones-password">
                <a href="{% url 'login' %}" class="button button--gray form-control custom-button">Volver</a>
            </div>
        </form>
    </div>
    </div>
</main>
{% endblock %}