{% load static %}
{% block title %}Contraseña cambiada correctamente{% endblock %}

<link href="{% static 'css/styles2.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<main role="main">
  <div class="contenedor">
      <div class="col-md-9 mx-auto mb-5">
          <h3 class="titulo">Contraseña Cambiada Correctamente</h3>
          <p class="parafo">Puedes volver a tu perfil haciendo click <a href="{% url 'check_profile' %}" class="button button--gray form-control custom-button">Aquí</a>.</p>
        {% endif %}
      </div>
  </div>
</main>
{% endblock %}