{% extends 'core/base_admin.html' %}
{% load static %}
{% block title %}Cambio de Contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-12 mx-auto mb-5">
        <form action="{% url 'password_change' %}" method="post">{% csrf_token %}
          <h3 class="mb-4">Cambio de Contraseña</h3>
          {% if request.user.is_authenticated %}
            <p>Por favor, introduzca la contraseña antigua, luego introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</p>
          {% endif %}
          {{ form.old_password.errors }}
          <p><input type="password" name="old_password" autofocus="" required="" id="id_old_password" class="form-control" placeholder="Contraseña antigua"></p>
          {{ form.new_password1.errors }}
          <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Contraseña nueva"></p>
          {{ form.new_password2.errors }}
          <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Contraseña nueva (confirmación)"></p>
          <div class="row">
            <div class="col-12 col-sm-6 mb-3">
              <p><input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña"></p>
            </div>
            <div class="col-12 col-sm-6 mb-3">
              <a href="{% url 'logout' %}" class="btn btn-primary form-control">Salir</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
