{% load static %}
{% block title %}
{% block content %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/styles2.css' %}" rel="stylesheet">
{% endblock %}
<main role="main">
  <div class="titu-mein">
      <h3 class='h2 medium text-blue'>Email Enviado</h3>
  </div>  
  <div class="cont-form-password" >
      <form action="" method="post">
          {% csrf_token %}
              <div class="titu-2">
                  <label for="rut" class="custom-label">Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve. </label>
              </div>
              <div class="titu-5">
                  <label for="grupo" class="custom-label">Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</label>
              </div>
              <div class="botones-password">
                  <a href="{% url 'login' %}" class="button button--gray form-control custom-button">Volver</a>
              </div>
      </form>
  </div>
</main>
{% endblock %}
