{% load static %}
{% block title %}
{% block content %}
<link href="{% static 'css/styles2.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}
<main role="main">
  <div class="titu-mein">
    <h3 class='h2 medium text-blue'>Escriba Su Nueva Contraseña</h3>
  </div>
  <div class="cont-form-password">
    {% if validlink %}
      <form action="" method="post">{% csrf_token %}
        <div class="titu-2">
          <p class="parafo">Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
        </div>
        {{form.new_password1.errors}}
        <div class="row col-md-11 titu-4">
          <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control border custom-input" placeholder="Introduce la nueva contraseña" ></p>
        </div>
        {{form.new_password2.errors}}
        <div class="row col-md-11 titu-6">
          <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control border custom-input" placeholder="Repite la nueva contraseña"></p>
        </div>
        <div class="botones-5">
          <input type="submit" class="button button--gray form-control custom-button" value="Confirmar">
        </div> 
      </form>
    {% else %}
      <div class="titu-mein">
        <h3 class='h2 medium text-blue'>Restablecimiento de contraseñas fallido</h3>
      </div>
      <p class="parafo">El enlace de restablecimiento de contraseña era inválido, seguramente se uso anteriormente. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">Aquí</a>.</p>
    {% endif %}
  </div>
</main>
{% endblock %}