{% load static %}
{% block title %}
{% block content %}
{% endblock %}
<link href="{% static 'css/styles2.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">

<main role="main">
  <div class="titu-mein">
    <h3 class='h2 medium text-blue'>Restablecimiento de contraseña completado</h3>
  </div>
  <div class="cont-form-password">
    <div class="titu-2">
      <p class="parafo">Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
    </div>
    <div class="botones-5">
      <p><a href="{% url 'login' %}" class="button button--gray form-control custom-button  confirmacion">Login</a></p>
    </div>
  </div>
</main>
{% endblock %}