{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambia tu contraseña</title>
    <link rel="stylesheet" href="{% static 'css/reset_confim.css' %}">
</head>
<body class="estilo-pagina3">
    <div class="header">
        <img src="/static/assets/img/LogoU.png" class="Logo" height="50"> 
        <span class="header-title">Universidad Autónoma de Chile</span>
    </div>

    <div class="container">
        <div class="password-reset-box">
            <h2>Cambia tu contraseña</h2>
            <form action="#" method="POST" class="reset-form">
                <div class="input-group">
                    <input type="password" id="password" placeholder="Contraseña" required>
                </div>
                <div class="input-group">
                    <input type="password" id="confirm-password" placeholder="Confirmar contraseña" required>
                </div>
                <ul class="password-requirements">
                    <li id="length" class="invalid">Al menos 8 Carácteres <span class="icon">✖️</span></li>
                    <li id="uppercase" class="invalid">Al menos 1 Mayúscula <span class="icon">✖️</span></li>
                    <li id="special" class="invalid">Al menos 1 Carácter Especial <span class="icon">✖️</span></li>
                </ul>
                <button type="submit" class="btn-confirm">Confirmar</button>
            </form>
        </div>
    </div>
</body>
</html>
