{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}"> 
</head>

<body class="estilo-pagina1">
    <div class="header">
        <img src="/static/assets/img/LogoU.png" class="logo" alt="Logo Universidad Autónoma de Chile">
        <span class="header-title">Universidad Autónoma de Chile</span>
    </div>
    {% csrf_token %}
    <div class="reset-container">
        <h1>Restablecer contraseña</h1>
        <p>¿Olvidó su contraseña? Ingrese su correo electrónico y le enviaremos instrucciones para restablecerla.</p>

        <form action="" method="POST" class="reset-form">
            {% csrf_token %}
            <div class="input-group">
                <label for="email">
                    <img src="/static/assets/img/email.png" alt="Icono de email" class="icon">
                </label>
                
                <input type="email" id="email" name="email" placeholder="Introduce tu email" required>
            </div>

            <input type="submit" value="Confirmar" class="confirm-btn">
        </form>
        <a href="{% url 'login' %}" class="back-btn">Volver</a> <!-- Modifica la URL de destino -->
    </div>
</body>
</html>