{% load static %}
{% block title %}Perfil{% endblock %}
{% block content %}
    <style>.errorlist{color:red;} label{display:none}</style>
    <main role="main">
    <div class="container col-11 border border-dark">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="row mt-3">
                    <div class="row">  
                        <div class="col-12 col-sm-4 m-1">
                            {% if request.user.profile.avatar %}
                                <img src="{{request.user.profile.avatar.url}}"  class="img-fluid mx-auto d-block rounded border">
                                <p class="mt-1">¿Borrar? <input type="checkbox" id="avatar-clear" name="avatar-clear" /></p>
                            {% else %}
                                <img src="{% static 'registration/img/no-avatar.jpg' %}"  class="img-fluid mx-auto d-block rounded border">
                            {% endif %}
                        </div>
                        <div class="col-12 col-sm-6 m-1">
                            <div class="row">
                                 <div class="col-12 col-sm-12 mb-2">
                                    <input type="file" name="avatar" class="form-control-file mb-3" id="id_avatar">
                                    {{ form.link }}
                                </div>
                                <div class="col-12 col-sm-6 mb-3">
                                    <input type="submit" class="btn btn-primary form-control" value="Actualizar">
                                </div>     
                                <div class="col-12 col-sm-6 mb-3">
                                    <a href="{% url 'check_group_main' %}" class="btn btn-primary form-control">
                                        Volver
                                    </a>
                                </div>     
                            </div>

                        </div>
                    </div>  
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
    </main>
{% endblock %}