/*Sidebar {} base_admini*/
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@media (min-width: 1200px) {
  .dashboard-container {
      margin-right: 60px;
      padding-left: 6.2rem;

  }
}
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;;
}
body {
  background-color: #fff;
}
.container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.sidebar {
  position: relative;
  width: 256px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #001F3F;
  padding: 12px;
  border-radius: 0px;
  transition: all 0.3s;
  
}
.sidebar .head {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
}
.user-img {
    width: 100px; 
    height: 75px; 
    border-radius: 2px; 
    overflow: hidden;
  }
.user-img img {
  width: 100%;
  object-fit: cover;
}
.user-details .title,
.menu .title {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.user-details .name {
  font-size: 14px;
  font-weight: 500;
}
.nav {
  flex: 1;
}
.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
  font-family: 'Nunito', sans-serif;
}
.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
  font-family: 'Nunito', sans-serif;
}
.menu ul li > a:hover,
.menu ul li.active > a {
  color: #000;
  background-color: #f6f6f6;
  font-family: 'Nunito', sans-serif;
}
.menu ul li .icon {
  font-size: 20px;
}
.menu ul li .text {
  flex: 1;
}
.menu ul li .arrow {
  font-size: 14px;
  transition: all 0.3s;
}
.menu ul li.active .arrow {
  transform: rotate(180deg);
}
.menu .sub-menu {
  display: none;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #f6f6f6;
}
.menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 12px;
}
.menu:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f6f6f6;
}
.menu-btn {
  position: absolute;
  right: -14px;
  top: 3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  border: 2px solid #f6f6f6;
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
}
.menu-btn:hover i {
  color: #000;
}
.menu-btn i {
  transition: all 0.3s;
}
.sidebar.active {
  width: 92px;
}
.sidebar.active .menu-btn i {
  transform: rotate(180deg);
}
.sidebar.active .user-details {
  display: none;
}
.sidebar.active .menu .title {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  
}
.sidebar.active .menu ul li .arrow {
  display: none;
}
.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar.active .menu > ul > li > a .text {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.sidebar.active .menu > ul > li > a .text::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #000;
  transform: rotate(45deg);
  z-index: -1;
}
.sidebar.active .menu > ul > li > a:hover .text {
  left: 50px;
  opacity: 1;
  visibility: visible;
}
.sidebar.active .menu .sub-menu {
  position: absolute;
  top: 0;
  left: 20px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #f6f6f6;
  background-color: #fff;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.credits {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 3rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


.upbar{
    background-color: #001F3F;
    height: 65px;
    display: flex;
    align-items: center;
    width: 100%;
}
.icon-border{
    border-radius: 20px;
    overflow: hidden; 
    display: inline-block;
} 
.latbar{
    background-color:#001F3F;
     width: 13%;
     height: 100vh;
} 
/*Listas GENERALES*/

.titu-mein{ /*Titulos en general*/
    position: absolute; 
    top: 5%; 
    left: 15%; 
    width: 50%; 
    height: 5%; 
    border-radius: 10px;
}
/*Botones generales de cada lista de izquierda a derecha*/

.botones-1{ /*boton lista block*/
    position: absolute; 
    top: 21%; 
    left: 57.5%; 
    width: 13%; 
    height: 10%;
}

.botones-2{ /*boton nuevo usuario*/
    position: absolute; 
    top: 21%; 
    left: 71%; 
    width: 13%; 
    height: 10%;
}

.botones-3{ /*boton carga masiva*/
    position: absolute; 
    top: 21%; 
    left: 84.5%; 
    width: 13%; 
    height: 10%;
}

.botones-4-crear{ /*boton VOLVER CREAR USUARIO*/
  position: absolute; 
  top: 60%; 
  left: 60%; 
  width: 13%; 
  height: 10%;
}

.botones-4{ /*boton VOLVER GENERAL IZQUIERDO*/
    position: absolute; 
    top: 90%; 
    left: 15%; 
    width: 13%; 
    height: 10%;
}
.botones-5-crear{ /*boton GUARDAR GENERAL DERECHO De Formularios*/
  position: absolute; 
  top: 71%; 
  left: 77%; 
  width: 16%; 
  height: 10%;
}
.botones-5{ /*boton GUARDAR GENERAL DERECHO De Formularios*/
    position: absolute; 
    top: 117%; 
    left: 84%; 
    width: 16%; 
    height: 10%;
}
.botones-6{ /*boton GUARDAR GENERAL DERECHO*/
    position: absolute; 
    top: 90%; 
    left: 84%; 
    width: 13%; 
    height: 10%;
}

.botones-7{ /*boton GUARDAR GENERAL MEDIO DERECHO */
    position: absolute; 
    top: 90%; 
    left: 70%; 
    width: 13%; 
    height: 10%;
}
.botones-8{ /*boton LIMPIAR DERECHO*/
    position: absolute; 
    top: 90%; 
    left: 87%; 
    width: 13%; 
    height: 10%;
}
.barra-busqueda{ /*barra BUSQUEDA General*/
    position: absolute;
    top: 20%;
    left: 15%;
    width: 40%;
    height: 10%; 
    border-radius: 90px;
}

.barra-op{ /*nose?*/
   position: absolute; 
   top: 3%;
   left: 105%; 
   width: 90%; 
   height: 60%; 
   border-radius: 90px;
}

/*tablas*/

.cont-table{ /*TABLAS GENERALES */
    position: absolute; 
    top: 30%; 
    left: 15%; 
    width: 83%; 
    height: 40%;
    
}

.estilo-table{  /*ESTILO DE TABLAS GENERALES Titulos */
    background-color: #001F3F; 
    color: #ffffff;
    
    
}
.all-lightgray-carro{ /*ESTILO DE TABLAS GENERALES datos */
    background-color: lightgray;

}
.redondeo{ /*nose??????*/
border-radius: 90px
}
/*FORMULARIOS GENERALES DE nuevo usuario, vista*/

.cont-form{  /*Borde GENERAL DE FORMULARIOS*/
    position: absolute; 
    top: 20%; 
    left: 15%; 
    width: 83%; 
    height: 520px; 
    background-color: #001f3f;
    border-radius: 50px;
}


.casilla1{
    position: absolute; 
    top: 15%; 
    left: 5%; 
    width: 23%; 
    height: 70%;
}

.casilla2{
    position: absolute; 
    top: 40%; 
    left: 5%; 
    width: 23%; 
    height: 70%;
}
.casilla3{
    position: absolute; 
    top: 70%; 
    left: 5%; 
    width: 23%; 
    height: 70%;
}
.casilla4{
    position: absolute; 
    top: 75%; 
    left: 5%; 
    width: 23%; 
    height: 70%;
}
.casilla5{
    position: absolute; 
    top: 15%; 
    left: 50%; 
    width: 23%; 
    height: 70%;
}
.casilla6{
    position: absolute; 
    top: 40%; 
    left: 50%; 
    width: 23%; 
    height: 10px;
}
.casilla7{
    position: absolute; 
    top: 55%; 
    left: 50%; 
    width: 23%; 
    height: 10px;
}
.casilla8{
    position: absolute; 
    top: 75%; 
    left: 50%; 
    width: 23%; 
    height: 70%;
}


.dato1{
    position: absolute; 
    top: 13%; 
    left: 17%; 
    width: 23%; 
    height: 70%;
}
.dato2{
    position: absolute; 
    top: 38%; 
    left: 17%; 
    width: 23%; 
    height: 70%;
}

.dato3{
    position: absolute; 
    top: 67%; 
    left: 17%; 
    width: 23%; 
    height: 70%;
}
.dato4{
    position: absolute; 
    top: 73%; 
    left: 17%; 
    width: 23%; 
    height: 70%;
}
.dato5{
    position: absolute; 
    top: 13%; 
    left: 67%; 
    width: 23%; 
    height: 70%;
}
.dato6{
    position: absolute; 
    top: 38%; 
    left: 67%;  
    width: 23%; 
    height: 70%;
}
.dato7{
    position: absolute; 
    top: 53%; 
    left: 67%;  
    width: 23%; 
    height: 70%;
}
.dato8{
    position: absolute; 
    top: 73%; 
    left: 67%; 
    width: 23%; 
    height: 50%;
}
/*botones globales de cada main*/
.boton_global1 {  
    position: absolute; 
    top: 18%; 
    left: 15%; 
    width: 13%; 
    height: 10%;
}

.boton_global2 {
    position: absolute; 
    top: 26%; 
    left: 15%; 
    width: 13%; 
    height: 10%;
}

/*botones globales CARGA MASIVA*/
.boton_carga1 {   /*boton DESCARGA ARCHIVO*/
    position: absolute; 
    top: 25%; 
    left: 15%; 
    width: 20%; 
    height: 10%;
}
.letra_color{ /* COLOR boton DESCARGA ARCHIVO*/
    color: #ffff;
}

.boton_carga2 { /*boton SELECCIONA ARCHIVO*/
    position: absolute; 
    top: 25%; 
    left: 42.5%; 
    width: 20%; 
    height: 10%;
}

.boton_carga3 { /*boton CARGAR ARCHIVO*/
    position: absolute; 
    top: 25%; 
    left: 70%; 
    width: 20%; 
    height: 10%;
    
}

/*Funciones CARRITO */
.cont-table_producto{ /*TABLAS GENERALES */
    font-family: 'Nunito', sans-serif;/* Tipo de letra */
    position: absolute; 
    top: 30%; 
    left: 15%; 
    width: 53%; 
    height: 50%;
    
}
.cont-table_carrito2{ /*TABLAS GENERALES */
    position: absolute; 
    top: 9%; 
    left: 70%; 
    width: 30%; 
    height: 80%;
  border-radius: 90px;
}
.total_carrito{
    top: 80%;
    left: 10%;
    width: 70;
    height: 10%;
}


/*color del banner*/


/*color del banner*/
/* para tablas */
.user-action {
    display: inline-block;
   
    font-size: 20px; /* Tamaño de fuente */
    color: #000; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    background-color: lightgray; /* Fondo del enlace */
    border-radius: 5px; /* Bordes redondeados */
}

.user-action:hover {
    background-color: #B3B3B3; /* Cambio de color al pasar el cursor */
}

.user-action i {
    margin-right: 5px; /* Espacio entre el icono y el texto */
}
.table-user th {
    font-family: 'Nunito', sans-serif;/* Tipo de letra */
    font-size: 20px; /* Tamaño de la fuente para los encabezados */
    font-weight:inherit; /* Grosor de la fuente para los encabezados */
    text-align:center; /* Alineación del texto en los encabezados */
    padding: 10px; /* Espaciado interno en los encabezados */
}

.table-user td {
    font-size: 20px; /* Tamaño de la fuente para las celdas */
    color: #333; /* Color del texto para las celdas */
    padding: 10px; /* Espaciado interno en las celdas */
    background-color: lightgray; /* Fondo de las celdas */
    text-align:center;/* Alineación del texto */
}

.table-user .user-actions {
    display:block; /* Usar flexbox para alinear los elementos */
    gap: 5px; /* Espacio entre los enlaces */
}

.table-user .action-link {
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 20px; /* Tamaño de la fuente para los enlaces */
    color: #000; /* Color del texto para los enlaces */
    text-decoration: none; /* Sin subrayado en los enlaces */
    padding: 5px 10px; /* Espaciado interno en los enlaces */
    background-color: lightgray; /* Fondo de los enlaces */
    border-radius: 5px; /* Bordes redondeados */
}

.table-user .action-link:hover {
    background-color: #d0d0d0; /* Cambio de color al pasar el cursor */
}

/* botones */
.custom-button_ver {
  font-size: 20px; /* Tamaño de la fuente */
  font-family: 'Nunito', sans-serif;/* Tipo de letra */
  padding: 10px 30px; /* Espaciado interno */
  background-color: #d9d9d9; /* Fondo del botón */
  border: none; /* Sin borde */
  color: #000; /* Color del texto */
  border-radius: 50px; /* Bordes redondeados */
  display: inline-block; /* Mostrar como bloque en línea */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  width: 100%; /* Ancho del botón */
}
.custom-button-editar {
  font-size: 20px; /* Tamaño de la fuente */
  font-family: 'Nunito', sans-serif;/* Tipo de letra */
  padding: 10px 30px; /* Espaciado interno */
  background-color: #d9d9d9; /* Fondo del botón */
  border: none; /* Sin borde */
  color: #000; /* Color del texto */
  border-radius: 50px; /* Bordes redondeados */
  display: inline-block; /* Mostrar como bloque en línea */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  width: 100%; /* Ancho del botón */
}
.custom-button {
    font-size: 20px; /* Tamaño de la fuente */
    font-family: 'Nunito', sans-serif;/* Tipo de letra */
    padding: 10px 30px; /* Espaciado interno */
    background-color: #001F3F; /* Fondo del botón */
    border: none; /* Sin borde */
    color: #fff; /* Color del texto */
    border-radius: 50px; /* Bordes redondeados */
    display: inline-block; /* Mostrar como bloque en línea */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    width: 100%; /* Ancho del botón */
}

.custom-button:hover {
    background-color: lightgray; /* Cambio de color al pasar el cursor */
    color:#000 /* Color del texto */
    
}

/* Agregar cajas de texto*/
.custom-label {
    font-size: 22px; /* Tamaño de la fuente para las etiquetas */
    font-family: 'Nunito', sans-serif; /* Tipo de letra para las etiquetas */
    color: #fff; /* Color del texto para las etiquetas */
}

.custom-input {
    font-size: 20px; /* Tamaño de la fuente para las cajas de texto */
    font-family: 'Nunito', sans-serif; /* Tipo de letra para las cajas de texto */
    color: #333; /* Color del texto para las cajas de texto */
    padding: 10px; /* Espaciado interno para las cajas de texto */
    background-color: #f9f9f9; /* Fondo de las cajas de texto */
    border: 1px solid #ccc; /* Borde de las cajas de texto */
    border-radius: 10px; /* Bordes redondeados para las cajas de texto */
    width: 100%; /* Ancho de las cajas de texto */
}
.custom-input2 {
    font-size: 20px; /* Tamaño de la fuente para las cajas de texto */
    font-family: 'Nunito', sans-serif; /* Tipo de letra para las cajas de texto */
    color: #333; /* Color del texto para las cajas de texto */
    padding: 50px; /* Espaciado interno para las cajas de texto */
    background-color: #f9f9f9; /* Fondo de las cajas de texto */
    border: 1px solid #ccc; /* Borde de las cajas de texto */
    border-radius: 10px; /* Bordes redondeados para las cajas de texto */
    width: 100%; /* Ancho de las cajas de texto */
 
}
.custom-input2:focus {
    border-color: #3A1B78; /* Cambio de color del borde al enfocar */
    box-shadow: 0 0 5px rgba(58, 27, 120, 0.5); /* Sombra al enfocar */
    outline: none; /* Eliminar el contorno al enfocar */
}

.custom-input:focus {
    border-color: #3A1B78; /* Cambio de color del borde al enfocar */
    box-shadow: 0 0 5px rgba(58, 27, 120, 0.5); /* Sombra al enfocar */
    outline: none; /* Eliminar el contorno al enfocar */
}

/*CAMBIOS EN EL PASSWORD*/

.cont-form-password {  /*Borde General PASSWORD*/
    position: absolute; 
    top: 20%; 
    left: 10%; 
    width: 83%; 
    height: 60%; 
    background-color: #D9D9D9;
    border-radius: 50px;
}
.titu-2{ /*Titulo password*/
    position: absolute; 
    top: 15%; 
    left: 5%; 
    width: 70%; 
    height: 70%;    
}
.titu-3{
    position: absolute; 
    top: 25%; 
    left: 5%; 
    width: 70%; 
    height: 80%;
}

.titu-4{
    position: absolute; 
    top: 35%; 
    left: 5%; 
    width: 50%; 
    height: 80%;
}
.titu-5{
    position: absolute; 
    top: 50%; 
    left: 5%; 
    width: 70%; 
    height: 80%;
}
.titu-6{
    position: absolute; 
    top: 50%; 
    left: 5%; 
    width: 50%; 
    height: 80%;
}
.botones-password{ /*boton VOLVER DERECHO De Formularios*/
    position: absolute; 
    top: 117%; 
    left: 1%; 
    width: 16%; 
    height: 10%;
}